body{
  text-align: center;
}
.blog-container{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.blog-div{
  max-width: 800px;
  display: block;
  padding: 2%;
  margin-top: 1%;
}
h1{
  color: black;
}

