.body-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
  color: #fdfbfe;
  margin-bottom: 0;
}
.body-text div {
  margin-top: 0;
  font-size: 45px;
  font-weight: 600;
  padding: 0 10px 10px;
}
.header01 {
  font-size: 50px;
}
.sub-header01 {
  font-size: 40px;
}
body {
  background-color: #eee
}
.choice-card-container {
  display: flex;
  justify-content: center;
}

.mega-card-div {
  display: flex;
  flex-direction: row;
  padding-top: 23%;
  padding-left: 10%;
  padding-right: 10%;
}

.card-container {
  width: 33%;
}
