<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {%block title%}{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400&family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <link rel="stylesheet" href="{% static 'nav.css'%}">
    <link rel="stylesheet" href="{% static 'waves.css'%}">
    <nav>
      <div class="wrapper">
        <div class="logo">
          <a href="{% url 'home'%}">Ocean Garden</a>
          {% csrf_token %}</div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn">
            <i class="fas fa-times"></i>
          </label>
          <li>
            <a href="{% url 'home'%}">Home</a>
            {% csrf_token %}</li>
          <li>
            <a href="#" class="desktop-item">Learn</a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item">Dropdown Menu</label>
            <ul class="drop-menu">
              <li>
                <a href="{% url 'begineer'%}">Beginner</a>
                {% csrf_token %}</li>
              <li>
                <a href="{% url 'intermediate'%}">Intermediate</a>
                {% csrf_token %}</li>
              <li>
                <a href="{% url 'advanced'%}">Advanced</a>
                {% csrf_token %}</li>
            </ul>
          </li>
          <li>
            <a href="{% url 'data'%}">Data</a>{% csrf_token %}
          </li>
          <li>
            <a href="{% url 'about'%}">About</a>{% csrf_token %}
          </li>
          <li>
            <a href="{% url 'contact'%}">Feedback</a>{% csrf_token %}
          </li>
        </ul>
        <label for="menu-btn" class="btn menu-btn">
          <i class="fas fa-bars"></i>
        </label>
      </div>
    </nav>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
    {% load static %}
    {% block content %}{% endblock %}
  </head>
</html></body></html>
